/* 
*    basic elements
*/



// image elements
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

button.button {
	@extend %nu__buttonstyle;
}

a {
    cursor: pointer;
}