// ? the custom SVG icons currently just used in the footer
.nu__customsvg {
	display: inline-block;
	margin: 0 auto 0 auto;
	svg {
		width: 20px;
		height: 20px;
		path {
			@extend %transition;
			fill: rgba($white, 0.8);
		}
	}
	a {
		display: block;
		border: none 0;
		&:hover,
		&:focus,
		&:active {
			border: none 0;
			svg path {
				fill: rgba($white, 1);
			}
		}
	}
}

#wpadminbar {
	overflow: hidden;
}

.mfp-iframe-holder .mfp-content {
	max-width: 1024px;
}

.clearfix {
	@include clearfix;
}

// * background images
.bgimage {
	@include bgImage;
}

#nu__cookiewarning {

	display: none;
	position: fixed; 
	z-index: 9999;
	background-color: $black;
	background-color: $grey_10;
	color: $white;
	width: 90%;
	max-width: 960px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	padding: $margin_2x;
	border: 1px solid $grey_4;
	// @include boxshadow(2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);

	p {
		color: inherit;
		a {
			color: inherit;
		}
	}


	.closeicon {
		padding: 5px;
		position: absolute;
		z-index: 1;
		cursor: pointer;
		top: $base-margin;
		right: $base-margin;
		font-size: 20px;
		&:after {
			display: block;
			@extend %transition;
			transform: scale(1);
			content: "\e5cd";
		}
		&:hover {
			&:after {
				transform: scale(1.2);
				content: "\e888";
			}
		}
	}

	button.button {
		@extend %nu__buttonstyle;
		border: 2px solid white;
		margin-bottom: 0;
		background-color: $grey_10;
	}

	@include flush_inner_content_vertical();

}


.material-icons-outlined,
.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}
