/* 

*/

@mixin is_page_level_blocks_wrapper() {
	> * {
		// ? top level blocks margin
		margin: $margin_8x auto 0 auto;

		// ? top level blocks widths
		max-width: 80%;
		&.alignwide {
			max-width: 90%;
		}
		&.alignfull,
		&.is-reusable {
			max-width: 100%;
		}
	}
	> p,
	> .wp-block-paragraph {
		margin-top: $margin_4x;
	}
	// group, cover etc blocks alignfull and first child assumed to be "hero" ish
	> .alignfull:first-child {
		&.wp-block-group,
		&.wp-block-cover {
			margin-top: 0;
		}
	}
	> :last-child:not(.alignfull):not(.has-background) {
		margin-bottom: $margin_8x;
	}

	// TODO: fix this it doesnt work!
	@media screen and ( max-width: 781px ){
		padding: 0 $half-margin;
		> * {
			margin-top: $margin_4x;
		}
		> :not(.alignfull):not(.is-reusable) {
			max-width: 90%;
			max-width: 100%;
		}
		> :last-child:not(.alignfull):not(.has-background) {
			margin-bottom: $margin_4x;
		}
	}
}

.block-editor-block-list__layout.is-root-container,
.blocks--wrapper {
	@include is_page_level_blocks_wrapper();
}