/* 

*/

.wp-block-column {
	// flush bottom edge
	> *:last-child {
		margin-bottom: 0;
	}
	// flush top edge
	> *:first-child {
		margin-top: 0;
	}
}



.wp-block-column {
	> .wp-block-group {
		&:not(:first-child) {
			margin-top: $margin_4x;
		}
	}


	@include media( "<phone" ){

		margin-top: $margin_2x;
		&:first-child {
			margin-top: 0;
		}

	}
}