/* 
	block styles for group here,
*/

.wp-block-group {
	&.is-style-card-outlined {
		border: 1px solid $grey_4;
		padding: $margin_2x;

		// ? tuck over the padding, flush with top and side edges
		.wp-block-image.size-full {
			position: relative;
			top: -$margin_2x;
			left: -$margin_2x;
			width: calc(100% + #{$margin_4x});
			max-width: calc(100% + #{$margin_4x});
		}
	}
}


// ? top-level group is like the base-blocks-container; just half the vertical margin
.blocks--wrapper > .wp-block-group {
	> * {
		&:not(p, .wp-block-paragraph){
			margin: $margin_4x auto 0 auto;
			@media screen and (max-width: 640px) {
				margin: $margin_2x auto 0 auto;
			}
		}
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}