/* 

*/

p {
	a {
		border-bottom: 2px solid transparent;
		&:hover,
		&:focus {
			border-bottom: 2px solid currentColor;
		}
	}
}

p.is-style-links-have-arrows {
	a {
		display: inline-block;
		vertical-align: middle;
		@include nu_micon("\e5c8", after);
		&:after {
			display: inline;
			margin: -4px 0 0 5px;
			color: currentColor;
			font-size: inherit;
		}
	}
}
