/* 

	this handles generic paragraphs that could be anywhere ( paragraph blocks dont get a special class )

*/

p {
	a {
		border-bottom: 2px solid transparent;
		&:hover,
		&:focus {
			border-bottom: 2px solid currentColor;
		}
	}
	strong {
		color: var(--wp--preset--color--black);
	}
	&.has-text-color {
		strong {
			color: inherit;
		}
	}
}