/* 
	?			News Item
*/

//
.posts-grid .nu__grid .grid-item.nu_news {
	position: relative;


	.grid-item-content {
		flex: 1 1 auto;

		@include flush_inner_content_vertical();

		// ? if there is no featured image this will be the only child
		// ? it will be centered and the title is a bit larger
		&:only-child {
			height: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			.post-title {
				font-size: var(--wp--preset--font-size--30-36);
				@include rfs(36px, line-height);
			}
		}
	}

	.publication-info {
		font-size: var(--wp--preset--font-size--12-16);
		line-height: 20px;
	}

	.post-title {
		font-size: var(--wp--preset--font-size--20-28);
		line-height: 28px;
		font-weight: 400;
	}

	.is-hanging-icon {
		z-index: 1;
		position: absolute;
		top: $base-margin;
		right: $base-margin;
	}

	// ? if the hanging icon is over an image make it white
	figure + .grid-item-content {
		.is-hanging-icon {
			color: var(--wp--preset--color--white-1);
		}
	}

	// evenly space the vertical template
	&.has-layout-vertical {
		.contains-clickable-area {
			height: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
		}
		.grid-item-content {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
		}
	}
	
	
}
