/* 

*/

.nu__grid {


	.grid-item.nu_profiles {
		
		position: relative;
		

		.grid-item-content {
			position: relative;
			padding: $base-margin;
			background-color: var(--wp--preset--color--white-1);
			.post-title {
				margin-top: 0;
			}
			.post-excerpt {
				margin-bottom: 0;
			}
			.is-hanging-icon {
				background-color: var(--wp--preset--color--white-1);
				position: absolute;
				top: 0;
				right: 0;
				transform: translateY(-100%);
				.material-icons-outlined {
					font-size: 30px;
					line-height: 30px;
					transform: rotate(-45deg);
				}
			}
		}
		
	}
	
}