// 
// 
@import '../../__precomp/source/css/library';


.nu_person {

	position: relative;

	// .nu_person-name,
	// .nu_person-position,
	// .nu_person-phone,
	// .nu_person-email,
	// .nu_person-bio
	// {
	// 
	// }

	.nu_person-bio {
		margin: $base-margin 0 0 0;
	}
	
	.wp-block-media-text__content {
		p {
			margin: 0;
		}
		.nu_person-position {
			margin: $base-margin 0;
		}
	}


	&.is-style-circle {
		.nu_person-headshot {
			figure {
				overflow: hidden;
				border-radius: 50%;
				@include boxshadow(2);
			}
		}

	}
}
