/* 

*/

@import "../../__precomp/source/css/library";

.nu__breadcrumbs {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	margin: $base-margin auto 0 auto;
	padding: $base-margin;
	float: none !important;
	&.textalign-center {
		text-align: center;
	}
	&.textalign-right {
		text-align: right;
	}

	@include clearfix();

	&.wide {
		max-width: 90%;
	}

}

div.breadcrumbs[typeof="BreadcrumbList"] {
	font-size: 12px;

	a {
		border-bottom: 1px solid transparent;
		&:hover,
		&:focus {
			border-bottom: 1px solid black;
		}
	}

	span.material-icons-outlined {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 14px;
		margin: 0 ($half-margin * 0.5);
		border-bottom: 1px solid transparent;
	}
}
