/* 

*/
/**
*
* *		Setup Document Model Vars / Breakpoints
*
*/
/* 
	because the block may or may not be loaded when we call this in (the posts grid just calls it in for now)
*/
/**
 * Clearfix
 *
 */
/* ... project styles will always load after this ... */
.nu__breadcrumbs {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  margin: 16px auto 0 auto;
  padding: 16px;
  float: none !important;
}
.nu__breadcrumbs.textalign-center {
  text-align: center;
}
.nu__breadcrumbs.textalign-right {
  text-align: right;
}
.nu__breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.nu__breadcrumbs.wide {
  max-width: 90%;
}

div.breadcrumbs[typeof=BreadcrumbList] {
  font-size: 12px;
}
div.breadcrumbs[typeof=BreadcrumbList] a {
  border-bottom: 1px solid transparent;
}
div.breadcrumbs[typeof=BreadcrumbList] a:hover, div.breadcrumbs[typeof=BreadcrumbList] a:focus {
  border-bottom: 1px solid black;
}
div.breadcrumbs[typeof=BreadcrumbList] span.material-icons-outlined {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 14px;
  margin: 0 4px;
  border-bottom: 1px solid transparent;
}
