@import "./content-query/filter";
@import "./content-query/showmore";

.acf-block.content-query {
	//
	margin: $base-margin 0 $half-margin 0;

	border: 1px solid var(--wp--preset--color--black-1);

	padding: $margin_2x;
}
