@import "../library/";

.wp-block-cover {
	// TODO: change this to rely on being a top-level block at the very least? cover is used too much to be faking a hero block
	// TODO: ??? --- maybe drop this and include it within a style or custom class?
	&.alignfull,
	&[data-align="full"] {
		padding: $base-margin 0;
		.wp-block-cover__inner-container {
			max-width: var(--wp--custom--content-size);
			margin: 0 auto;
			.wp-block {
				margin: $base-margin auto 0 auto;
			}
		}
	}

	.wp-block-cover__inner-container {
		max-width: 80%;
	}

	// ? breadcrumbs inside the cover block are assumed to be a specific style and layout
	.nu_breadcrumbs {
		position: absolute;
		bottom: 0;
		left: 0;
		padding-left: 10%;
		background-color: white;
		color: black;
		.breadcrumbs {
			padding: $margin_2x $margin_4x;
			padding-left: 0;
			p {
				white-space: nowrap;
			}
		}
	}

	.wp-block-group {
		margin: 0 0 $base-margin 0;
		&:last-child {
			margin: 0 0 0 0;
		}
	}
}

.wp-block-group,
.wp-block-cover {
	&.has-style-tucks-next-block-over,
	&.cover_tucks_next_block {
		margin-bottom: -#{$margin_6x} !important; // 2x margin less than the padding; to have vertical space (difference will be visible margin)
		// padding-bottom: $margin_12x;
		+ .wp-block,
		+ .wp-block-columns,
		+ .posts-grid,
		+ .wp-block-image,
		+ .wp-block-group,
		+ .wp-block-buttons {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			position: relative;
			z-index: 1;
			min-height: $margin_6x;
		}
	}
}

.blocks--wrapper > .wp-block-cover:first-child {
	margin-top: 0;
}

.wp-block-cover {
	&.has-custom-content-position {
		&.is-position-top-left,
		&.is-position-bottom-left,
		&.is-position-center-left {
			.wp-block-cover__inner-container {
				margin-left: 10%;
			}
		}
		&.is-position-top-right,
		&.is-position-bottom-right,
		&.is-position-center-right {
			.wp-block-cover__inner-container {
				margin-right: 10%;
			}
		}
	}
}
