@import "../library/";

.wp-block-group {
	&.has-background {
		padding: 0;
	}
	// ? generally speaking, inner-blocks push from the top by a reduced margin compared to ungrouped blocks
	> * {
		margin-top: $margin_2x;
	}

	&.has-text-color {
		* {
			color: inherit;
		}
	}

	// ? typographical elements should push down by even less
	> p,
	.wp-block-paragraph {
		margin-top: $half-margin;
	}

	// ? first child should be flush with the top edge of the group
	> :first-child {
		margin-top: 0;
	}
	// ? last child should be flush with the bottom edge of the group
	> :last-child {
		margin-bottom: 0;
	}
}

// * the "card style" adds a border and padding; and some inner content behaves differently
.wp-block-group.is-style-card-outlined {
	border: 1px solid var(--wp--preset--color--black-3); // ? this may be overriden by the CMS

	// ? force through a specific level of padding
	&.has-background,
	& {
		padding: $margin_2x;
	}

	// ? tuck over the padding, flush with top and side edges
	> .wp-block-media-text,
	> .wp-block-image.size-full {
		position: relative;
		top: -$margin_2x;
		left: -$margin_2x;
		width: calc(100% + #{$margin_4x});
		max-width: calc(100% + #{$margin_4x});
		img {
			width: 100%;
		}
	}
	> .wp-block-media-text {
		margin-bottom: -$margin_4x;
	}
}
