/* 
	* WordPress Core Navigation Block (NU Brand Guidelines Stylesheet)
	? This file is appended to the native block stylesheet whenever it loads (block is present)
*/

// import theme variables, mixins etc --- (not styles)
@import "../library/";

// ? make required adjustments to the default settings of the nav block
nav.wp-block-navigation {
	width: auto;
	margin: 0 auto;
	text-align: left;

	// ? override the core default gap with our base margin
	> .wp-block-navigation__container {
		gap: $base-margin;
	}

	// * the navigation block gets the .is-vertical class; so :not(.is-vertical) targets the horizontal orientation
	&:not(.is-vertical) {
		> .wp-block-navigation__container {
			gap: $margin_2x;
		}
		.wp-block-navigation-item__content {
			border-bottom: 2px solid transparent;
			padding: $margin_2x;
			&:hover,
			&:focus {
				border-bottom: 2px solid var(--wp--preset--color--black-1);
			}
		}
		.current-menu-item :where(.wp-block-navigation-item__content) {
			border-bottom: 2px solid var(--wp--preset--color--black-1);
		}
	}

	// ? vertical style gets an accent on the left
	&.is-vertical {
		.wp-block-navigation-item__content {
			.wp-block-navigation-item__label {
				border: none 0;
				@extend %transition;
				border-left: 2px solid white;
				padding-left: 5px;
			}
			&:hover,
			&:focus {
				.wp-block-navigation-item__label {
					border: none 0;
					border-left: 2px solid var(--wp--preset--color--red-3);
				}
			}
		}

		.wp-block-navigation-item {
			&.current-menu-item {
				.wp-block-navigation-item__label {
					border: none 0;
					@extend %transition;
					border-left: 2px solid white;
					border-left: 2px solid var(--wp--preset--color--red-3);
					padding-left: 5px;
				}
				a,
				span {
					border-bottom: 0px solid transparent;
				}
			}
		}
	}

	// ? i think this resets the submenu (which is set up for mobile, improve this using hook to conditional)
	.has-child :where(.wp-block-navigation__submenu-container) {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.wp-block-navigation-item {
		align-items: flex-start;

		&.has-child.open-on-click {
			display: flex;
			flex-flow: column nowrap;

			.wp-block-navigation__submenu-container {
				height: 0;
			}
			&.reveal-submenu {
				.wp-block-navigation__submenu-container {
					height: auto;
					min-width: 200px;
					opacity: 1;
					visibility: visible;
					width: auto;
					padding-left: $base-margin;
				}
				.wp-block-navigation__submenu-icon {
					svg {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	// ? item content
	.wp-block-navigation-item__content {
		margin: 0;
		padding: 0;
		// ? item content is a link
		&.wp-block-navigation-link__content {
			border: 0px solid transparent;
			&:hover,
			&:focus {
				border: 0px solid transparent;
			}
		}
	}
}

/* 
	experimental and/or related styles below (CUT ME)
*/
// ? previous/next post navigation block styles here (experimental)
.wp-block-post-navigation-link {
	&.post-navigation-link-next a {
		@include nu_micon("\e5cc", after);
		&:after {
			display: inline;
		}
	}
	&.post-navigation-link-previous a {
		@include nu_micon("\e5cb", before);
		&:after {
			display: inline;
		}
	}
	> a {
		white-space: pre-wrap;
	}
}
