@import '../library/';

p {
	a {
		border-bottom: 2px solid transparent;
		&:hover,
		&:focus {
			border-bottom: 2px solid currentColor;
		}
	}
	&.has-text-color {
		strong {
			color: inherit;
		}
	}
}