/* 

Person Info Stylesheet

*/

@import "../library/";

.person-info {
    // Kyle's stuff
    > div {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    // margin-bottom: 0; 
    h2, h3, p {
        margin: $base-margin 0 0; 
        font-weight: 300; 
        color: var(--wp--preset--color--black-2); 
    }

    h2 {
        font-size: var(--wp--preset--font-size--30-36);
    }

    h3 {
        font-size: var(--wp--preset--font-size--20-28);
    }

    p {
        font-weight: 400; 
        .material-icons-outlined {
            font-size: 20px; 
            line-height: 20px; 
            margin-top: -4px; 
        }
        &:where(.email, .phone-number) {
            font-size: var(--wp--preset--font-size--14-20);
            padding: $half-margin $base-margin; 
            border-radius: 5px; 
            @extend %transition; 

            span {
                &.icon-email, &.icon-call {
                    margin-right: $base-margin; 
                }
                &.icon-content-copy {
                    @extend %transition; 
                    opacity: 0; 
                    cursor: pointer; 
                    margin-left: $base-margin; 
                }
            }

            span, & {
                vertical-align: middle;
            }

            &:hover, &:focus {
                background-color: var(--wp--preset--color--white-2);
                color: var(--wp--preset--color--black-1); 
                .icon-content-copy {
                    opacity: 1; 
                }
            }
            
        }
        // // ? email has content copy icon, phone number does not at this time
        // &:where(.email) {
        //     &:hover, &:focus {
        //         background-color: var(--wp--preset--color--white-2);
        //     }
        // }
    }

    a {
        border-bottom: none !important; 
    }
}