body.page-template-experimental {

	.is-the-template-content {
		@include the_top_level_blocks_container();
	}
	main {
		display: flex;
		flex-flow: column nowrap;
	}
	div.blocks--wrapper {
		flex: 1 0 auto;
		display: flex;
		flex-flow: row nowrap;

		> .is-the-template-content,
		> .is-the-template-sidebar {
			padding: 0;
			@extend %transition;
		}

		> .is-the-template-sidebar {
			flex-basis: 20%;
			margin: 0;

			.is-hidden-when-tucked {
				// display: none;
				opacity: 1;
				@extend %transition;
			}

			&.is-tucked {
				flex-basis: $margin_4x;
				.is-hidden-when-tucked {
					// display: none;
					opacity: 0;
				}
				+ .is-the-template-content {
				}
			}
		}

		@include media("<=medium") {
			flex-flow: column nowrap;
		}
	}

	.nu__sidebar_menu--experimental {
		&,
		.widget_block,
		.widget_block > .wp-block-group {
			height: 100%;
		}

		div.widget_block {
			.widgettitle {
				margin-top: 0;
				display: none;
			}
			.widget_nav_menu {
				ul.menu {
					margin: 0;
				}
			}

			.is-experimental-sidebar-toggle {
			}
		}
	}
}
