/* 

*/
/**
*
* *		Setup Document Model Vars / Breakpoints
*
*/
/* 
	because the block may or may not be loaded when we call this in (the posts grid just calls it in for now)
*/
/**
 * Clearfix
 *
 */
html :where(body:not(.wp-admin), .editor-styles-wrapper) {
  color: var(--wp--preset--color--black-2);
  font-family: "Lato", sans-serif, "Material Icons";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.375;
}

/* ... project styles will always load after this ... */
html :where(body:not(.wp-admin), .editor-styles-wrapper) {
  position: relative;
  z-index: 1;
}
html :where(body:not(.wp-admin), .editor-styles-wrapper) :where(p a) {
  text-decoration: none;
}

.nu__datetime {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.nu__datetime span {
  letter-spacing: 0;
  font-weight: normal;
}
.nu__datetime .nu__datetime-times {
  position: relative;
}
.nu__datetime .nu__datetime-times:before {
  content: "\e8b5";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.nu__datetime .nu__datetime-dates {
  margin-top: 16px;
  position: relative;
}
.nu__datetime .nu__datetime-dates:before {
  content: "\e878";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.nu__datetime .nu__datetime-times,
.nu__datetime .nu__datetime-dates {
  margin: 8px 0 0 0;
}
.nu__datetime .nu__datetime-times:first-child,
.nu__datetime .nu__datetime-dates:first-child {
  margin: 0;
}
.nu__datetime .nu__datetime-times:before,
.nu__datetime .nu__datetime-dates:before {
  vertical-align: text-bottom;
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
  line-height: 1;
}
