body.nu_news-template-default.single-nu_news {
	// ? remove the svg and add full width to the quote

	.wp-block-acf-breadcrumbs {
		margin-top: $margin_2x;
	}
	.wp-block-cover.alignfull:first-child {
		.wp-block-cover__inner-container {
			@media screen and (min-width: 781px) {
				max-width: 90%;
			}
		}
	}

	.wp-block-acf-nav-menu {
		li.is-news-page {
			a {
				font-weight: bold;
			}
		}
	}
}

.nu_start--news-item-single-type-a {
	.is-news-item-content {
		max-width: 1024px;
		margin: 0 auto;

		.wp-block-pullquote {
			padding: 0;
			margin: 0;
			blockquote {
				:last-child {
					margin-bottom: 0;
				}
				:first-child {
					margin-top: 0;
				}
				max-width: 100%;
				> :first-child:not(.wp-block-pullquote__citation)::before {
					display: none;
				}
				cite {
					text-transform: none;
					strong {
						text-transform: uppercase;
					}
				}		
			}
		}

		.wp-block-post-title {
			margin-top: 0;
		}

		// ? adjustments to make the featured image a constant aspect ratio
		.wp-block-post-featured-image {
			margin: $margin_2x 0;
			min-height: 220px;
			@include aspect-ratio(3, 1);
			> img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100% !important;
			}
		}

		@media screen and (max-width: 781px) {
			> .wp-block-columns:last-child {
				margin-bottom: 0;
				> .wp-block-column:first-child {
					margin-top: 0;
				}
			}
		}
	}

	> .wp-block-columns {
		@media screen and (max-width: 1280px) {
			flex-flow: column nowrap;
			> .wp-block-column {
				flex: 1 0 100%;
				flex-basis: 100% !important;
				margin: $margin_2x 0 0 0 !important;
				&:first-child {
					margin: 0 !important;
				}
			}
		}
	}
}


.news-item-content--type-b {


	.wp-block-image {
		
		figure.alignright {
			margin-right: -220px;
		}
		
	}
	
	
}