.nu_start--person-item-single-type-a {
	.wp-block-columns:not(.is-not-stacked-on-mobile)
		.nu_person_detail--content-area.wp-block-column {
		margin: 0 0 0 auto;
		margin-left: auto;
	}

	.is-headshot-and-bio {
		.wp-block-post-title {
			margin-top: 0;
		}

		@media screen and (max-width: 781px) {
			> .wp-block-columns:last-child {
				margin-bottom: 0;
				> .wp-block-column:first-child {
					margin-top: 0;
				}
			}
		}
	}

	> .wp-block-columns {
		@media screen and (max-width: 1280px) {
			flex-flow: column nowrap;
			> .wp-block-column {
				flex: 1 0 100%;
				flex-basis: 100% !important;
				margin: $margin_2x 0 0 0 !important;
				&:first-child {
					margin: 0 !important;
				}
			}
		}
	}
}
