/* 
? 	page height always fills viewport using flexbox
*/
html {
	height: 100%;
}
body {
	scroll-behavior: smooth;
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
	> header,
	> footer {
		flex: none 0;
	}
	> main {
		flex: 1 0 auto;
		margin-top: $headerHeight; // default values
	}
}

@mixin the_top_level_blocks_container() {
	overflow: visible;
	overflow-x: hidden;
	overflow-y: auto;
	> :not(.alignfull, .alignwide) {
		max-width: var(--wp--custom--content-size);
		margin-left: auto;
		margin-right: auto;
	}
	> .alignwide {
		max-width: var(--wp--custom--wide-size);
		margin-left: auto;
		margin-right: auto;
	}
	> .alignfull {
		max-width: none;
	}
	> .alignleft {
		float: left;
		margin-left: $base-margin;
		@include clearfix;
	}
	> .alignright {
		float: right;
		margin-right: $base-margin;
		@include clearfix;
	}

	// ? most blocks (as sections) vertical spacing is $margin_8x except typographical elements like paragraphs
	> :not(p, .wp-block-paragraph, .wp-block-spacer) {
		margin: $margin_8x auto 0 auto;
	}

	// ? alignfull first block assumed to be a hero
	> .alignfull:first-child {
		margin-top: 0;
	}

	// ? special case: if this is a "wrapper" top level group at full width...
	&.wp-block-group.alignfull {
		> :first-child {
			margin-top: 0;
		}
	}
	@include media("<=large") {
		> * {
			padding-left: var(--wp--custom--spacing--outer);
			padding-right: var(--wp--custom--spacing--outer);
			&.alignfull,
			&[data-align="full"] {
				margin-left: calc(
					-1 * var(--wp--custom--spacing--outer)
				) !important;
				margin-right: calc(
					-1 * var(--wp--custom--spacing--outer)
				) !important;
				width: unset;
			}
		}
	}
}

//
.blocks--wrapper > .wp-block-group.alignfull > .wp-block-group,
.blocks--wrapper > .wp-block-group.alignfull > .wp-block-cover.alignfull {
	@include media("<=large") {
		> * {
			padding-left: var(--wp--custom--spacing--outer);
			padding-right: var(--wp--custom--spacing--outer);
			&.alignfull,
			&[data-align="full"] {
				margin-left: calc(
					-1 * var(--wp--custom--spacing--outer)
				) !important;
				margin-right: calc(
					-1 * var(--wp--custom--spacing--outer)
				) !important;
				width: unset;
			}
		}
	}
}

// ? using a group as a wrapper for top-level "sections" blows out the vertical rhythm
// ? css expects the hero to come first - maybe in a group wrapper - and not count
.blocks--wrapper > .wp-block-group.alignfull:not(:first-child),
.block-editor-block-list__layout.is-root-container,
.blocks--wrapper {
	@include the_top_level_blocks_container();
	//
	//
	@include media(">=medium") {
		> .wpforms-container-full {
			margin-top: $margin_8x;
		}
	}
	@include media("<=medium") {
		> .wpforms-container-full {
			margin-top: $margin_4x;
		}
	}
}
