//
//
//
footer.site-footer {
	//
	//
	//
	padding: $margin_4x 0;
	padding-left: var(--wp--custom--spacing--outer);
	padding-right: var(--wp--custom--spacing--outer);

	//
	//
	//
	> .container {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		> section {
			flex: 1 1 auto;
		}
	}

	.footer-content {
		display: flex;
		flex-flow: row nowrap;
		// break the sidebar to below nav before final breakpoint
		justify-content: flex-end;
	}

	//
	//
	//
	.navlinks {
		//
		//
		//
		> .menu {
			display: flex;
			flex-flow: row wrap;
		}
		//
		//
		//
		> .menu > .menu-item {
			> a {
				opacity: 0.8;
				// ? elder menu item styled like a category label
				.link-text {
					font-weight: bold;
					@include rfs(16px);
					@include rfs(24px, line-height);
				}
			}
			// ? push menu stack down from elder
			> .sub-menu {
				margin-top: $base-margin;
			}
		}
		//
		//
		//
		.menu-item {
			> a {
				opacity: 0.6;
				.link-text {
					font-weight: 400;
					@include rfs(14px);
					@include rfs(20px, line-height);
					@include accentUnderline();
				}
				// currently highlighted item
				&:hover,
				&:focus {
					opacity: 1;
					> .link-text:before {
						width: $base-margin;
					}
				}
			}
			// current page ancestry
			&.current-menu-item,
			&.current-page-ancestor {
				> a {
					opacity: 1;
					span:before {
						width: $base-margin;
					}
				}
			}
		}
	}

	//
	//
	//
	&.is-style-dark {
		background-color: var(--wp--custom--elems--footer--background--dark);
		color: var(--wp--preset--color--white-1);
		.wp-social-link {
			background-color: var(
				--wp--custom--elems--footer--background--dark
			);
		}
		// ? switch svg fill to white, or invert img
		a.logo {
			svg path {
				fill: var(--wp--preset--color--white-1);
			}
			img {
				filter: invert(100%);
			}
		}
	}
	//
	//
	//
	&.disabled {
		display: none;
	}

	@include media("<=xlarge") {
		.footer-content {
			flex-flow: column nowrap;
			.nu__footer-sidebar.wpforms-widget {
				div.wpforms-container-full {
					margin: $margin_4x 0 0 0;
					form.wpforms-form {
						margin: 0 auto;
					}
				}
			}
		}
	}
	//
	//
	//
	// ? mobile
	@include media("<medium") {
		> .container {
			flex-flow: column nowrap;
		}
		.navlinks {
			margin-top: $margin_4x;
			> .menu {
				gap: $margin_2x;
			}
		}
	}
	// ? desktop
	@include media(">=medium") {
		align-items: flex-start;
		justify-content: space-between; // forces outer groupings to l/r edges
		> section {
			&:not(:first-child) {
				margin: 0 0 0 $margin_8x;
			}
		}

		.navlinks {
			margin-left: $margin_4x;
			> .menu {
				gap: $margin_4x;
			}
		}
	}

	//
	//
	//
	@import "./footer/form";
	@import "./footer/siteinfo";
}
