/* 
?		Main Navigation Styles
?		- header navigation styles and some css behavior here
?		- 
*/

// ? styles for all screen sizes
header.header {
	// ? stick to the top of the viewport at all times
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	@include nu__boxshadow(2);
	color: var(--wp--preset--color--black-2);
	background-color: var(--wp--preset--color--white-1);

	// ? content container to match width with content/blocks on the page
	> .container {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		height: $headerHeight;
		padding: 0 var(--wp--custom--spacing--outer);
	}

	@include media("<=medium") {
		$utilityNavHeight: 32px;
		$headerHeight: 54px;
		> .container {
			height: $headerHeight;
		}
		> .utilitynav {
			height: $utilityNavHeight;
		}
		a.logo.logo--image svg {
			max-width: 180px;
		}
	}
}

// ? all styles for the utilitynav
@import "./header/utilitynav";

// ? all styles for the searchform
@import "./header/search";

// ? all styling for the navlinks
@import "./header/navlinks";

// ? all darkmode related adjustments
@import "./header/dark-enabled";

//
// ? target conditionals in body_class
//

// ! only targeting <header> here
body {
	// ? (only) global header/footer is on
	&.has-nu-global-header-footer:not(.admin-bar) {
		header.header {
			margin-top: $globalHeaderHeight;
		}
	}

	// ? (only) admin bar is on
	&.admin-bar:not(.has-nu-global-header-footer) {
		header.header {
			margin-top: $adminBarHeight;
		}
	}

	// ? (both) global header and admin bar are on
	&.admin-bar.has-nu-global-header-footer {
		header.header {
			margin-top: $globalHeaderHeight + $adminBarHeight;
		}
		.itsglobalheader--container {
			margin-top: $adminBarHeight;
		}
	}

	// * unavoidable breakpoint where adminbar increases in height and switches to just icons
	@media screen and (max-width: 780px) {
		$adminBarHeight: 46px;
		// ? (only) global header/footer is on
		&.has-nu-global-header-footer {
		}

		// ? (only) admin bar is on
		&.admin-bar {
			header.header {
				margin-top: $adminBarHeight;
			}
		}

		// ? (both) global header and admin bar are on
		&.admin-bar.has-nu-global-header-footer {
			.itsglobalheader--container {
				margin-top: $adminBarHeight;
			}
			header.header {
				margin-top: $globalHeaderHeight + $adminBarHeight;
			}
		}
	}
}

// ! only targeting <main> here
body {
	main {
		margin-top: $headerHeight;
	}

	&.has-nu-global-header-footer {
		main {
			margin-top: $headerHeight + $globalHeaderHeight;
		}
	}
	&.has-utility-nav {
		main {
			margin-top: $headerHeight + $utilityNavHeight;
		}
		&.has-nu-global-header-footer {
			main {
				margin-top: $headerHeight + $globalHeaderHeight +
					$utilityNavHeight;
			}
		}
	}
	@include media("<medium"){
		$headerHeight : 54px;
		$utilityNavHeight : 32px;
		main {
			margin-top: $headerHeight;
		}
	
		&.has-nu-global-header-footer {
			main {
				margin-top: $headerHeight + $globalHeaderHeight;
			}
		}
		&.has-utility-nav {
			main {
				margin-top: $headerHeight + $utilityNavHeight;
			}
			&.has-nu-global-header-footer {
				main {
					margin-top: $headerHeight + $globalHeaderHeight +
						$utilityNavHeight;
				}
			}
		}
	}
}