
.itsglobalheader--container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}


/**
*		Global  Footer
*/
//
#nu-global-footer a:hover,
#nu-global-footer a:focus,
#nu-global-footer a:active {
	border: none 0;
}
