/* 

	NU Patterns
	- Stat Highlights Category
	- - Pattern "is_type_a"

	? This file takes the KNOWN pattern; which is intended to be developed into a LOCKED TEMPLATE, and styles it.
	? This is tightly coupled and will break on changes in the editor
	? Until we move to start really templating; this should be AS MINIMAL AS POSSIBLE.

	* prebuilding patterns is very easily and flexible; and we can massage the 'correct' choice of blocks this way before 'hardening' things into a template.
	
*/

// 
.nu_pattern-is_case_study--is_type_a {
	position: relative;
	// reset inner margins
	> * {
		margin: 0;
	}

	.wp-block-group {

		h1,h2,h3,h4,h5,h6 {
			margin: 0 0 0 0;
		}
		
	}

	.wp-block-cover {
		position: relative;
		z-index: 0;
	}

	// super light touch css
	> .wp-block-columns {
		margin: 0;
		
		.wp-block-column {
			position: relative;
			z-index: 1;
		}

		&:first-child {
			margin-bottom: -#{$margin_8x};
		}
		&:last-child {
			margin-top: -#{$margin_8x};
		}
		.wp-block-column.has-background {
			padding: $margin_2x;
		}
	}
}

.blocks--wrapper > .nu_pattern-is_case_study--is_type_a {

	
}