//

%base_body_style {
	color: var(--wp--preset--color--black-2);
	font-family: "Lato", sans-serif, "Material Icons";
	@include font-size(1rem);
	font-weight: 300;
	line-height: 1.5;
}


%absolutely_centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//
//
//
%transition {
	transition: all 0.1s ease-in-out;
}

//
//
//
%alt_link {
	color: var(--wp--preset--color--black-2);
	font-weight: 400;

	&:hover {
		color: var(--wp--preset--color--red-3);
		text-decoration: none;
	}
}

//
//
//
%nu__buttonstyle {
	@extend %transition;

	border-radius: 0;
	border: 2px solid transparent;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	// font-size: 1.125em;
	// padding: 0.667em 1.333em;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;
	margin: 0.5em 0.5em 0.5em 0;
	min-height: none 0;
	font-weight: normal;
	letter-spacing: 0.2px;
	// line-height: 1.15;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 0.625rem 1rem;

	border: 2px solid var(--wp--preset--color--black-1);
	background-color: var(--wp--preset--color--black-1);
	color: var(--wp--preset--color--white-1);

	&:hover {
		background-color: var(--wp--preset--color--white-1);
		border: 2px solid var(--wp--preset--color--black-1);
		color: var(--wp--preset--color--black-1);
	}
}

%nu__playButton {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}
