/**
*
* *		Setup Document Model Vars / Breakpoints
*
*/

// ? set new breakpoints in the include_media sass library
$breakpoints: (
	"phone"		:		640px,
	"small"		:		780px,
	"medium"	:		1024px,
	"large"		:		1280px,
	"xlarge"	:		1620px,
	"huge"		:		1920px,
);

// Margins
$half-margin: 8px;
$base-margin: 16px;
$margin_2x: $base-margin * 2;
$margin_3x: $base-margin * 3;
$margin_4x: $base-margin * 4;
$margin_6x: $base-margin * 6;
$margin_8x: $base-margin * 8;
$margin_10x: $base-margin * 10;
$margin_12x: $base-margin * 12;

// Elements
$adminBarHeight: 32px;
$headerHeight: 72px;
$headerHeight: 92px;
$globalHeaderHeight: 48px;
$utilityNavHeight: 48px;
$headerOffset: $headerHeight;
