.nu_posts-grid .nu_projects.grid-item.has-layout-horizontal	> .contains-clickable-area,
.nu_posts-grid .nu_projects.grid-item.has-layout-horizontal {
	border: none; 
	box-shadow: none;

	> .grid-item-content {
	}

	> a.contains-clickable-area {
		background-color: var(--wp--preset--color--white-2); 
		@include nu_micon("\e0b2", after);
		&:after {
			position: absolute; 
			right: 15px; 
			top: 10px; 

			@media screen and (max-width: 782px) {
				top: unset; 
				bottom: 10px; 
			}
		}
	}

	@include media(">=medium") {
		> figure {
			flex: 1 0 66%;
			max-width: none;
			max-height: 320px;
		}
		.grid-item-content {
			justify-content: center;
		}
	}
}
