.nu_posts-grid
	.nu_profiles.grid-item.has-layout-horizontal
	> .contains-clickable-area,
.nu_posts-grid .nu_profiles.grid-item.has-layout-horizontal {
	@include media(">=medium") {
		> figure {
			flex: 1 1 50%;
			max-width: 50%;
			max-height: 320px;
			order: 2;
		}
		.grid-item-content {
			flex: 1 1 50%;
			max-width: 50%;
			padding: $margin_2x !important;
			justify-content: center;
		}
	}
}
