/* 

	? TREVOR WILL COMMENT THIS FILE

*/

.nu_posts-grid .nu__grid .grid-item.nu_people {
	box-shadow: none;
	border: none;

	.nu_posts-grid-readmore {
		display: block;
		margin: $margin_4x 0 0 0;
	}

	.person-excerpt {
		p {
			margin: $half-margin 0 0 0;
		}
	}

	.moretext {
		&:after {
			display: none;
		}
	}

	.grid-item-content {
		padding: $base-margin;
	}

	// &:hover

	> a {
		&.contains-clickable-area {
			.grid-item-content {
				background-color: var(--wp--preset--color--white-1);
			}
		}
	}
}
