
body.single-nu_events {

	.wp-block-columns.is-event-item-content {

		.wp-block-group.event-item-sidebar {
			padding: $margin_4x;
			max-width: 400px;
		}
		
		.wp-block-post-featured-image {
			margin: $margin_4x 0;
		}

		.wp-block-buttons:last-child {
			.wp-block-button {
				margin: 0;
			}
		}
	}
}

.wpforms-field {
	position: relative;
	.wpforms-field-label {
		position: absolute;
		top: 0;
		left: 32px;
		padding: 0 16px;
		background-color: black;
	}
}