@import './case-studies';
@import './features';
@import './heros';
@import './stat-highlights';
@import './testimonials';
@import './newsletter-sections';
@import './faq-sections';
@import './content-types';


// todo: structure this properly

.nu_pattern_collection--personal-cover-photo {}

.nu_pattern--design-helper--color-palette {
	.wp-block-cover {
		min-height: 72px;
		max-width: 320px;
		margin: 0 auto;
		overflow: hidden;
		@include aspect-ratio(16,10);
		&:before {
			position: relative !important;
			width: 100%;
		}
		.wp-block-cover__inner-container {
			display: none;
		}

		&.has-white-background-color {
			border: 1px solid $black;
		}
	}
}