/* 

	*	full-overlay hero:
	?	a gradient overlay is used over the image, darkening it enough to use white text

*/

.nu_pattern--hero--full-overlay {

	.wp-block-buttons {
		&:last-child {
			margin-top: $margin_2x;
		}
	}
	

	.wp-block-columns:first-child:last-child {
		margin-bottom: 0;
	}
	
	p.has-36-40-font-size {
		margin: $base-margin 0 $margin_2x 0;
	}
}