.nu_pattern-is_hero_banner--type-b {
	.wp-block-column {

		p {
			margin: $base-margin 0 0 0;
			&:first-child {
				margin: 0;
			}
		}
		h2 {
			margin: 5px 0 0 -2px;
		}

		.wp-block-buttons {
			margin-top: $margin_2x;
		}
	}

	.wp-block-cover__inner-container {
		.wp-block-columns {
			&:only-child {
				margin: 0;
			}

			&:not(.is-not-stacked-on-mobile)
				> .wp-block-column:not(:only-child) {
				@media (min-width: 600px) and (max-width: 781px) {
					margin: 0;
				}
			}
		}
	}

	@media screen and (max-width: 960px) {
		.wp-block-column {
			flex-basis: 100% !important;
			&:last-child {
				display: none;
			}
		}
	}
}
