/* 

	*	vertical-split hero:
	?	content is not over the image on this style

*/

.nu_pattern--hero--vertical-split {
	.wp-block-buttons {
		&:last-child {
			margin-top: $margin_2x;
		}
	}

	.wp-block-columns:first-child:last-child {
		margin-bottom: 0;
	}

	p.has-36-40-font-size {
		margin: $base-margin 0 $margin_2x 0;
	}

	// ? leave the min height; but always fill vertical space
	.wp-block-cover[style*="min-height"] {
		height: 100% !important;
	}


	@include media("<=small"){

		.wp-block-columns {
			flex-flow: column-reverse;
			> .wp-block-column:last-child {
				margin-top: 0;
			}
		}
		
	}

}