/* 

	*	card-style hero:
	?	no gradient is used over the image; instead we use a "card" style of overlay behind just the content in the hero

*/

.nu_pattern--hero--card-style {


	.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
		margin: $margin_2x auto $margin_2x 0;
		height: 1px;
		max-width: $margin_2x;
	}

	.wp-block-buttons {
		&:last-child {
			margin-top: $margin_2x;
		}
	}
	

	.wp-block-columns:first-child:last-child {
		margin-bottom: 0;
	}

	p.has-36-40-font-size {
		margin: $base-margin 0 $margin_2x 0;
	}
	
}
