/* 

*/

//
//
//
header.header {
	#nu__sitesearch {
		//
		//
		//
		position: relative;

		//
		.nu__sitesearch_toggle {
			display: block;
			height: 100%;
			margin-left: $margin_2x;
			span {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		//
		.nu__sitesearch-form--container {
			background-color: var(--wp--preset--color--white-1);
			position: absolute;
			z-index: 1;
			top: 0;
			right: $margin_2x;
			height: 100%;
			display: flex;
			padding: $base-margin;
			overflow: hidden;
			form {
				padding: 0 $margin_2x;
				height: 100%;
				border-radius: 48px;
				border: 1px solid rgba(222, 218, 215, 1);
				display: flex;
				flex-flow: row nowrap;
			}
		}

		button {
			all: unset;
			appearance: none;
			span {
				display: inline-block;
				margin-top: 4px;
			}
			&.nu__sitesearch-close {
				display: none;
			}
		}

		//
		#sitesearch-input {
			margin: 0 $base-margin;
			min-width: max(220px, 15vw);
			padding: $base-margin;
			border: 0px solid transparent;
		}

		.site-search-icon {
			&:before {
				content: "\e5cd";
			}
			&.is-search {
				&:before {
					content: "\e8b6";
				}
			}
		}
		&:not(.revealed) {
			.nu__sitesearch-form--container {
				transform: translateX(125%);
			}
			.site-search-icon {
				&:before {
					content: "\e8b6";
				}
			}
		}
	}

	//
	//
	//
	@include media("<medium") {
		#nu__sitesearch {
			display: none;
		}
		.navlinks--container.revealed #nu__sitesearch {
			display: block;
			max-width: 100% !important;
			overflow: hidden;
			.nu__sitesearch_toggle {
				display: none;
			}

			.nu__sitesearch-form--container {
				position: relative;
				right: 0;
				top: 0;
				background-color: transparent;
				transform: translateX(0);
				width: 100%;
				height: auto;
				justify-content: center;
				padding: 0;
				flex-flow: row nowrap;
				overflow: hidden;
				form {
					background-color: var(--wp--preset--color--white-1);
					padding: 0 $base-margin;
					max-width: 100%;
					#sitesearch-input {
					}
				}
			}
		}
	}
}
