/* 
? 	page height always fills viewport using flexbox
*/
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    > header,
    > footer {
        flex: none 0;
    }
    > main {
        flex: 1 0 auto;
        margin-top: $headerHeight; // default values
    }
}