/* 
	Site Footer
*/
footer.site-footer {
	// ? switch svg fill to white, or invert img
	a.logo {
		border-bottom: none 0;

		svg path {
			fill: var(--wp--preset--color--white-1);
		}
		img {
			filter: invert(100%);
		}
	}
	ul,
	ol {
		list-style-type: none;
		list-style: none;
		margin: 0;
		padding: 0;
		&.sub-menu {
			padding-left: $half-margin;
		}
	}
	background-color: var(--wp--preset--color--black-2);

	// custom background color; force social icons bg to match (blend in)
	background-color: var(--wp--custom--footer-background--dark);
	.wp-social-link {
		background-color: var(--wp--custom--footer-background--dark) !important;
	}
	color: var(--wp--preset--color--white-1);
	padding: $margin_2x 0 $margin_4x 0;

	// ? match how the header container controls width
	> .container {
		margin: 0 $margin_4x;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		// justify the row of two main content aras
		> section {
			flex: 1 1 auto;
		}
		// ? mobile
		@include media("<=medium") {
			flex-flow: column nowrap;
		}
		// ? desktop
		@include media(">=medium") {
			align-items: flex-start;
			justify-content: space-between; // forces outer groupings to l/r edges
			> section {
				&:not(:first-child) {
					margin: 0 0 0 $margin_8x;
				}
			}
		}
	}

	//
	//
	//
	//
	.footer-content {
		display: flex;
		flex-flow: row nowrap;
		// break the sidebar to below nav before final breakpoint
		justify-content: flex-end;
		align-items: flex-end;
		@include media("<=xlarge") {
			flex-flow: column nowrap;
		}
		
		.navlinks {
			//
			.menu-item {
				> a {
					margin: 0;
					font-weight: 400;
					@include rfs(20px, line-height);
					@include rfs(14px, --wp--preset--font-size--14-20);
					color: var(--wp--preset--color--white-1);
					opacity: 0.8;
					display: inline-block;
					span {
						font-weight: 400;
						@include rfs(14px);
						@include rfs(20px, line-height);
						color: var(--wp--preset--color--white-1);
						@include accentUnderline();
					}
					&:hover,
					&:focus {
						opacity: 1;
						span:before {
							width: $base-margin;
						}
					}
				}
				&.current-menu-item,
				&.current_page_ancestor {
					> a {
						opacity: 1;
						span:before {
							width: $base-margin;
						}
					}
				}
			}
			// ? top level navlinks menu container
			> .menu {
				max-width: map-get($breakpoints, "medium");
				display: flex;
				flex-flow: row wrap;

				// ? top level nav items
				> .menu-item {
					flex: 1 1 auto;
					margin: $margin_2x;
					> a {
						> span {
							font-weight: bold;
							@include rfs(16px);
							@include rfs(24px, line-height);
						}
					}
					> .sub-menu {
						margin-top: $half-margin;
					}
				}
			}
		}
		

		//
		//
		//
		@include media(">=medium") {
			.navlinks {
				> .menu {
					> .menu-item {
					}
				}
			}
		}

		//
		//
		//
		@include media("<=medium") {
			.navlinks {
				> .menu {
					> .menu-item {
						margin-bottom: 0;
					}
				}
			}
		}
		//
		//
		@include media("<=phone") {
			width: 100%;
			.navlinks {
				> .menu {
					flex-flow: column nowrap;
					align-items: center;
					width: 100%;
					margin: 0;
					> .menu-item {
						width: 100%;
						margin: $margin_2x 0 0 0;
					}
				}
			}
		}
	}

	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//
	.footer-siteinfo {
		> .logo {
			margin-top: $margin_2x;
		}
		.address,
		.contact,
		.social {
			margin: $base-margin 0 0 0;
			@include font-size(0.875rem);

			a {
				color: var(--wp--preset--color--white-1);
				border-bottom: 1px solid transparent;
				font-weight: 300;

				&:hover,
				&:focus {
					color: var(--wp--preset--color--white-1);
				}
			}
		}

		.contact {
			display: flex;
			flex-flow: column nowrap;
		}

		.social {
			display: flex;
			flex-flow: row nowrap;

			.nu__customsvg {
				margin: 0 0 0 $base-margin;
				&:first-child {
					margin: 0;
				}
			}
		}
	}
	.nu__footer-sidebar {
		
		div.wpforms-container-full {
			* {
				color: var(--wp--preset--color--white-1);
			}
			.wpforms-field-sublabel,
			.wpforms-field-label-inline,
			.wpforms-field-label{
				color: var(--wp--preset--color--white-1);
			}
			form.wpforms-form {
				display: flex;
				flex-flow: row nowrap;
				align-items: flex-start;

				.wpforms-submit-container {
					margin-top: 22px; // ? WTF
					button.wpforms-submit {
						margin: 0;
						height: 38px;
						background-color: var(--wp--preset--color--red-3);
						border: 1px solid var(--wp--preset--color--red-3);
						color: var(--wp--preset--color--white-1);
						&:hover,
						&:focus {
							border: 1px solid var(--wp--preset--color--red-3);
							color: var(--wp--preset--color--red-3);
							background-color: var(--wp--preset--color--white-1);
						}
					}
				}
			}
		}
	}
}
