//
//
//
//

section.searchresults {
	margin: 0 auto 50px auto;
	width: 65vw;
	> form {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		line-height: 0;
		border-bottom: solid #000 1px;
		> button {
			background: none;
			border: none;
			width: 40px;
			height: 50px;
			font-weight: 300;
			font-style: normal;
			letter-spacing: 0px;
			font-size: 2.1rem;
			line-height: 1.5;
			font-family: "Material Icons";
			color: #000;
			margin: 20px 0 0 0;
		}
		> input.search-input {
			-ms-flex: 1;
			flex: 1;
			font-weight: 300;
			font-style: normal;
			letter-spacing: 0px;
			font-size: 2.8rem;
			line-height: 1.5;
			font-family: "Lato", sans-serif, "Material Icons";
			margin: 20px 0 0 0;
			height: 50px;
			border: none;
			background: transparent;
			color: #000;
			outline: 0;
			-webkit-appearance: none;
			border-radius: 0;
		}
	}
	p.searchsummary {
		font-weight: 400;
		letter-spacing: 0px;
		font-size: 1.4rem;
		line-height: 1.5;
		color: #989898;
		margin: 40px 0 30px 35px;
	}
	article {
		margin: 0 0 15px 0;
		width: auto;
		padding: 0 10px 0 0;
		> a {
			color: black;
			border: 2px solid #b0b0b0;
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			&:after {
				content: "\e5c8";
				position: absolute;
				transform: translate(50%, -50%);
				right: 30px;
				top: 50%;
			}
			&:hover,
			&:focus {
				border: 2px solid #c00;
				&:after {
					color: #c00;
				}
				h2 {
					border-bottom: 2px solid #c00;
				}
			}
			> div {
				min-width: 50px;
				padding: 30px 0 60px 0;
				margin: 0 0 0 30px;
				> h2 {
					font-weight: 700;
					letter-spacing: 0px;
					font-size: 2.1rem;
					margin: 0;
					border-bottom: solid rgba(204, 0, 0, 0) 2px;
					display: inline-block;
				}
				> p {
					display: none;
				}
				&.thumbnail {
					margin: 0;
					padding: 0;
					max-width: 150px;
					width: 100%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					> img {
						max-width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

header.header {
	// * container for the entire sitesearch UI
	#nu__sitesearch {
		//
		position: absolute;
		z-index: 1;
		right: 0;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;

		// ? the navlinks are a sibling after this in the DOM, and can be offset here instead of conditionally classed
		~ .navlinks {
			margin-right: $margin_2x;
		}

		//
		.nu__sitesearch-form--container {
			position: relative;
			left: $margin_2x;
			height: 100%;
			width: 0;
			form {
				@extend %transition;
				transform: translateX(5%);
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				height: 100%;
				min-width: 50vw;
				padding: $base-margin;
				background-color: var(--wp--preset--color--white-1);
				border: none 0;
				input {
					flex: 1 0 auto;
					margin: 0 $margin_2x;
					border: none 0;
					border-bottom: 2px solid var(--wp--preset--color--black-3);
					&:hover,
					&:focus,
					&:active {
						outline: none;
					}
				}
				button {
					appearance: none;
					background: none;
					border: none 0;
					padding: 0;
					margin: 0 $base-margin -5px $base-margin;
					cursor: pointer;
					border-bottom: 2px solid transparent;
					span {
						margin-bottom: -7px; // just helps center inline
					}

					&:hover,
					&:focus,
					&:active {
						border-bottom: 2px solid var(--wp--preset--color--black-3);
					}
				}
			}
		}

		// ? handle this transition with just the revealed class
		&.revealed {
			.nu__sitesearch_toggle {
				display: none;
			}
			.nu__sitesearch-form--container {
				form {
					transform: translateX(-100%);
				}
			}
		}
	}
}

div.gcsc-more-maybe-branding-root {
	display: none !important;
}
