/* 

*/

.nu__alerts--wrapper {
	display: none;
	position: fixed;
	z-index: 9;
	top: 15%;
	left: 0;
	width: 100%;

	.closeicon {
		color: black;
		position: absolute;
		top: 50%;
		right: calc(#{$base-margin} + 10%);
		z-index: 1;
		cursor: pointer;
		padding: 5px;
		@extend %transition;
		transform: translateY(-50%);
	}
}

.widget_block.nu__alerts {
	&.nu__alerts-sitewide {
		p {
			margin: 5px 0 0 0;
			&:first-child {
				margin: 0;
			}
		}
		.wp-block-columns {
			position: relative;
			margin: 0 auto;
			max-width: 80%;
			&.alignfull {
				max-width: 100%;
				border-radius: 0;
				~ .closeicon {
					right: 0;
				}
			}
			@include nu__boxshadow(2);
			border-radius: 0.375rem;
			padding: $base-margin $margin_2x;
		}

		.wp-block-column {
			padding: 0;
			margin: 0;
		}
		.wp-block-button:first-child:last-child,
		.wp-block-button__link:first-child:last-child {
			margin: 0;
		}
	}
}
