//
//
//
//
//
//

// margin the logo in to match the natural content column (may adjust all of the elems on that left alignment at once later)

header.header > .container {
  @include media(">=medium") {
    margin: 0 10%;
  }
}

//

// ! THIS IS FOR OHDSI
.nu__pattern--event-item-hero {
  @include media(">=small") {
    .wp-block-cover {
      .wp-block-cover__inner-container {
        // margin-left: $margin_8x !important;
      }

      h2 {
        max-width: 720px;
      }
    }
    > .nu__pattern--event-item-hero-spillover {
      > .wp-block-group.has-background {
        margin-top: -$margin_4x;
        z-index: 1;
        position: relative;
      }
    }
  }
}

// ! THIS IS FOR OHDSI
.nu__shim--columns-are-cards-and-centered {
  > .wp-block-columns > .wp-block-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    > p {
      margin: 0;
    }
  }
}

// ! THIS IS FOR OHDSI
.wp-block-group.nu__pattern--hero-type-a {
  @include media(">=small") {
    .wp-block-cover {
      .wp-block-cover__inner-container {
        // margin-left: $margin_8x !important;
      }

      h2 {
        max-width: 720px;
      }
    }

    > .nu__pattern--hero-type-a-spillover {
      margin-top: -$margin_4x;
      z-index: 1;
      position: relative;
      > .wp-block-group {
        padding: $margin_4x;
        transform: translateX(-$margin_4x);
      }
    }
  }
}

.nu__pattern--three-power-statements {
  > .wp-block-columns {
    @include media(">=small") {
      margin-top: $margin_4x;

      > .wp-block-column {
        &:where( :not(:first-child) ) {
          border-left: 2px solid var(--wp--preset--color--black-2);
					padding-left: $margin_2x;
        }
      }
    }
  }
}
