/* 

	NU Patterns
	- Feature Category
	- - Pattern "is_type_c"

	? This file takes the KNOWN pattern; which is intended to be developed into a LOCKED TEMPLATE, and styles it.
	? This is tightly coupled and will break on changes in the editor
	? Until we move to start really templating; this should be AS MINIMAL AS POSSIBLE.

	* prebuilding patterns is very easily and flexible; and we can massage the 'correct' choice of blocks this way before 'hardening' things into a template.
	
*/


// ? traversal and selection with a little extra specificity
.wp-block-group.nu_pattern-is_feature--is_type_c {

	// ? adjust the arrow into a chevron
	.is-style-links-have-arrows {
		margin: 0;
		a {
			&:after {
				content: "\e5cc";
				font-size: var(--wp--preset--font-size--larger);
			}
		}
	}

	// ? if has background; use custom spacing values
	&.has-background {
		padding: $margin_4x;
		@media screen and (max-width: 781px) {
			padding: $margin_2x $base-margin;
		}
	}

	// ? clean up some of the hanging margins
	.wp-block-image:only-child {
		margin-bottom: 0;
	}


	// ? the intro blurb
	> .wp-block-group:first-child {
		
	}
	
	// ? the four featured items ( using columns block right now! )
	> .wp-block-group:last-child {

	}




}
