/* 
	Block Patterns
	- Features
	- - "is_type_a"
*/

//
.nu_pattern-is_feature--is_type_a {


	.is-row-block {
		> .wp-block-group:first-child {
			max-width: 600px;
		}
	}
	
	.wp-block-navigation__container {
		gap: 0;
		flex-flow: column nowrap;
		margin-right: $margin_2x;
	}

	.does-spillover-container {
		margin-top: 0;
		transform: translateY($margin_4x);

		> .wp-block-column {
			&:first-child {
			}
			&:last-child {
				flex: 1 0 320px;
			}
		}
	}
	
}
