/* 

	NU Patterns
	- Feature Category
	- - Pattern "is_type_b"

	? This file takes the KNOWN pattern; which is intended to be developed into a LOCKED TEMPLATE, and styles it.
	? This is tightly coupled and will break on changes in the editor
	? Until we move to start really templating; this should be AS MINIMAL AS POSSIBLE.

	* prebuilding patterns is very easily and flexible; and we can massage the 'correct' choice of blocks this way before 'hardening' things into a template.
	
*/

//
.wp-block-group.nu_pattern-is_feature--is_type_b {
	&.has-background {
		padding: 0;
	}

	.wp-block-column {
		&[style="flex-basis:84px"] {
			.wp-block-image {
				max-width: 84px;
			}
		}
	}


	.wp-block-column.is-featured-content {

		padding: $margin_4x;

	}

	.wp-block-image {
		margin-bottom: 0; // remove hanging margins
	}

	> .wp-block-columns {
		margin-bottom: 0; // remove hanging margin
		> .wp-block-column:first-child {
			margin: $margin_4x 0; // pad edge of content column
			> .wp-block-group {
				&:not(:first-child) {
					margin: $margin_2x 0 0 0;
				}
			}
		}
		> .wp-block-column:last-child {
			flex: 0 1 45% !important;
		}
	}
}
