/* 

	NU Patterns
	- Feature Category
	- - Pattern "is_type_d"

	? This file takes the KNOWN pattern; which is intended to be developed into a LOCKED TEMPLATE, and styles it.
	? This is tightly coupled and will break on changes in the editor
	? Until we move to start really templating; this should be AS MINIMAL AS POSSIBLE.

	* prebuilding patterns is very easily and flexible; and we can massage the 'correct' choice of blocks this way before 'hardening' things into a template.
	
*/
.nu_pattern-is_feature--is_type_e {
	&.wp-block-group.has-background {
		padding: $margin_4x $margin_2x;
		max-width: 80%;
	}

	@media screen and (max-width: 1280px) {
		> .wp-block-columns {
			flex-flow: column nowrap;
			> .wp-block-column {

				&:last-child {
					margin: $margin_4x 0 0 0;
				}
				&:first-child {
					
				}
			}
		}
	}

	@media screen and (max-width: 780px) {
	}

}
