/* 


*/

//
//
.nu_pattern--contact--type-c {
	.wpforms-field-container {
		.wpforms-field-textarea {
			vertical-align: top !important;
			display: inline-block !important;
			float: none !important;
			textarea {
				min-height: 0px !important;
				height: 128px !important;
			}
		}
	}

}
