
.wp-block-group.nu_pattern-is_faq-section--is_type_b {


	> .wp-block-columns {
		margin: 0;
		border-top: 1px solid transparentize($black, 0.75);
		padding: $margin_2x 0;
		&:last-child {
			border-bottom: 1px solid transparentize($black, 0.75);
		}
	}
	
}