/* 

	this file handles styling the posts-grid block filtering form
	(this is all leading up to a leap to the query block and extensions for it)

*/


div.filteringform {
	margin: 0 0 $margin_4x 0;
	text-align: center;
	width: 100%;

	// ? when select2 is disabled this helps see what is going on
	option[selected="selected"] {
		font-weight: bold;
		font-style: italic;
	}

	> form {
		width: 100%;
		position: relative;
		background-color: #fafafa;
		padding: $margin_2x $margin_4x;

		// submission buttons container
		> .submission {
			position: absolute;
			bottom: 0;
			right: $margin_4x;
			transform: translateY(50%);
			z-index: 1;
			margin: 0 0 0 $base-margin;

			button.is-style-default {
				display: inline-block;
				padding: $half-margin $base-margin;
				margin: 0;
			}
			.button.is-style-outline {
				display: inline-block;
				margin-left: $half-margin;
				border: 2px solid var(--wp--preset--color--black);
				padding: $half-margin $base-margin;
				@include font-size(0.875rem);
				line-height: 1.25rem;
				&:hover,
				&:focus {
					border: 2px solid var(--wp--preset--color--black);
					background-color: var(--wp--preset--color--black);
					color: var(--wp--preset--color--white);
				}
			}
		}

		// ?
		> .filters {
			flex: 0 1 auto;
			text-align: left;
			max-width: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-end;

			// ?
			.filters-filter {
				flex: 0 1 auto;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				min-width: 220px;
				margin: 0 0 0 $base-margin;
				&:first-child {
					margin: 0;
				}

				> label {
					display: none;
				}
				> select {
					position: relative;
					
				}

				@media screen and (max-width: 640px) {
					max-width: 100%;
					margin: $margin_2x 0 0 0;

					&:first-child {
						margin: 0 0 0 0;
					}
				}

				// ? select fills the space it is in
				select {
					width: 100%;
				}

				.select2 {
					&.select2-container {
						background-color: var(--wp--preset--color--white-1);
					}
				}
			}
		}

		@media screen and (max-width: 960px) {
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			text-align: center;

			> .filters {
				order: 2;
				margin: $margin_2x 0 0 0;
				width: 100%;
			}

			> .submission {
				margin: 0 0 0 0;
			}
		}
	}

	.select2.select2-container {
		background-color: transparent !important;
		.select2-selection {
			font-size: 14px;
			font-weight: 400;
			color: #545454;
			border: none 0;
			border-bottom: 1px solid black;
			border-radius: 0px;
			@include nu_micon("\e313", after);
			&:after {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.select2-selection__rendered {
			padding: 0;
		}
		
		.select2-selection--multiple {
			background-color: transparent !important;

			.select2-selection__choice {
				background-color: black !important;
				color: white !important;
				border-radius: 20px !important;
				padding: $half-margin 0 !important;
			}
		}
		.select2-search__field {
			background-color: transparent;
			letter-spacing: 0.1ch;
		}
	}

	@media screen and (max-width: 960px) {
		padding: $margin_2x;
	}
}
