/* 

*/

.nu_posts-grid .nu__grid .grid-item.nu_events {

	// ? the date-time block is not loading this properly idk why
	// todo: fix this so its DRY
	.nu__datetime {
		@include nu__date_time_block_styles();
	}

	// ? handle interaction with zooming image and underlining title
	> a {
		border: none 0;
		display: flex;
		.post-title span {
			border-bottom: 2px solid transparent;
		}
		&:hover,
		&:focus {
			border: none 0;
			.post-title span {
				border-bottom: 2px solid currentColor;
			}
			img {
				transform: scale(1.2);
			}
		}
	}

	.grid-item-content {
		padding: $margin_2x;
		> :first-child {
			margin-top: 0;
		}
	}
}
