/**
*
* *		Setup Document Model Vars / Breakpoints
*
*/
/* 
	because the block may or may not be loaded when we call this in (the posts grid just calls it in for now)
*/
/**
 * Clearfix
 *
 */
html :where(body:not(.wp-admin), .editor-styles-wrapper) {
  color: var(--wp--preset--color--black-2);
  font-family: "Lato", sans-serif, "Material Icons";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.375;
}

.nu_posts-grid .nu__grid .grid-item.page > a figure img, .nu_posts-grid .nu__grid .grid-item.page > a .post-title span, .nu_posts-grid .nu__grid .grid-item.nu_events > a.contains-clickable-area:after, .nu_posts-grid .grid-item .grid-item-content, .nu_posts-grid .grid-item, .nu_posts-grid a.nu_posts-grid-readmore span, .nu_posts-grid .grid-item img {
  transition: all 0.1s ease-in-out;
}

/* ... project styles will always load after this ... */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html :where(body:not(.wp-admin), .editor-styles-wrapper) {
  position: relative;
  z-index: 1;
}
html :where(body:not(.wp-admin), .editor-styles-wrapper) a {
  color: currentColor;
  text-decoration: none;
}

/* 

	this file handles styling the posts-grid block filtering form
	(this is all leading up to a leap to the query block and extensions for it)

*/
div.filteringform {
  margin: 0 0 64px 0;
  text-align: center;
  width: 100%;
}
div.filteringform option[selected=selected] {
  font-weight: bold;
  font-style: italic;
}
div.filteringform > form {
  width: 100%;
  position: relative;
  background-color: #fafafa;
  padding: 32px 64px;
}
div.filteringform > form > .submission {
  position: absolute;
  bottom: 0;
  right: 64px;
  transform: translateY(50%);
  z-index: 1;
  margin: 0 0 0 16px;
}
div.filteringform > form > .submission button.is-style-default {
  display: inline-block;
  padding: 8px 16px;
  margin: 0;
}
div.filteringform > form > .submission .button.is-style-outline {
  display: inline-block;
  margin-left: 8px;
  border: 2px solid var(--wp--preset--color--black);
  padding: 8px 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
div.filteringform > form > .submission .button.is-style-outline:hover, div.filteringform > form > .submission .button.is-style-outline:focus {
  border: 2px solid var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
}
div.filteringform > form > .filters {
  flex: 0 1 auto;
  text-align: left;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
div.filteringform > form > .filters .filters-filter {
  flex: 0 1 auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  min-width: 220px;
  margin: 0 0 0 16px;
}
div.filteringform > form > .filters .filters-filter:first-child {
  margin: 0;
}
div.filteringform > form > .filters .filters-filter > label {
  display: none;
}
div.filteringform > form > .filters .filters-filter > select {
  position: relative;
}
@media screen and (max-width: 640px) {
  div.filteringform > form > .filters .filters-filter {
    max-width: 100%;
    margin: 32px 0 0 0;
  }
  div.filteringform > form > .filters .filters-filter:first-child {
    margin: 0 0 0 0;
  }
}
div.filteringform > form > .filters .filters-filter select {
  width: 100%;
}
div.filteringform > form > .filters .filters-filter .select2.select2-container {
  background-color: var(--wp--preset--color--white-1);
}
@media screen and (max-width: 960px) {
  div.filteringform > form {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  div.filteringform > form > .filters {
    order: 2;
    margin: 32px 0 0 0;
    width: 100%;
  }
  div.filteringform > form > .submission {
    margin: 0 0 0 0;
  }
}
div.filteringform .select2.select2-container {
  background-color: transparent !important;
}
div.filteringform .select2.select2-container .select2-selection {
  font-size: 14px;
  font-weight: 400;
  color: #545454;
  border: none 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  position: relative;
}
div.filteringform .select2.select2-container .select2-selection:after {
  content: "\e313";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
div.filteringform .select2.select2-container .select2-selection:after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
div.filteringform .select2.select2-container .select2-selection__rendered {
  padding: 0;
}
div.filteringform .select2.select2-container .select2-selection--multiple {
  background-color: transparent !important;
}
div.filteringform .select2.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: black !important;
  color: white !important;
  border-radius: 20px !important;
  padding: 8px 0 !important;
}
div.filteringform .select2.select2-container .select2-search__field {
  background-color: transparent;
  letter-spacing: 0.1ch;
}
@media screen and (max-width: 960px) {
  div.filteringform {
    padding: 32px;
  }
}

/* 
	most of  this moved to core typography,
	overrides would go here
*/
/*
	"Posts Grid" Block Styling
*/
/* 
	prevent accidental clicks in the block editor (must be a better way)
*/
body.wp-admin .nu_posts-grid .grid-item a {
  pointer-events: none;
}

/* 



*/
.nu_posts-grid ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  padding-left: 0;
}
.nu_posts-grid .grid-item {
  position: relative;
  border: 1px solid var(--wp--preset--color--white-2);
}
.nu_posts-grid .grid-item > a, .nu_posts-grid .grid-item {
  display: flex;
  flex-flow: column nowrap;
}
.nu_posts-grid .grid-item > a {
  height: 100%;
  width: 100%;
}
.nu_posts-grid .grid-item figure {
  flex: none;
}
.nu_posts-grid .grid-item-content {
  padding: 16px 32px;
  padding-bottom: 64px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.nu_posts-grid .grid-item-content > :last-child {
  margin-bottom: 0;
}
.nu_posts-grid .grid-item-content > :first-child {
  margin-top: 0;
}
.nu_posts-grid .grid-item-content .featured-tags {
  margin: 0;
}
.nu_posts-grid .grid-item-content .post-title {
  margin: 0 0 0 0;
}
.nu_posts-grid .grid-item-content .post-excerpt {
  font-size: 14px;
}
.nu_posts-grid a.nu_posts-grid-readmore {
  position: absolute;
  bottom: 16px;
  left: 32px;
  border: none 0;
}
.nu_posts-grid a.nu_posts-grid-readmore span {
  color: var(--wp--preset--color--black-3);
  display: inline-block;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
}
.nu_posts-grid a.nu_posts-grid-readmore span.moretext {
  font-size: smaller;
  position: relative;
}
.nu_posts-grid a.nu_posts-grid-readmore span.moretext:after {
  content: "\e5c8";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.nu_posts-grid a.nu_posts-grid-readmore span.moretext:after {
  font-size: 20px;
  vertical-align: middle;
  margin: -2px 0 0 16px;
}
.nu_posts-grid a.nu_posts-grid-readmore span.moreicon {
  margin-left: -8px;
}
.nu_posts-grid a.nu_posts-grid-readmore:hover, .nu_posts-grid a.nu_posts-grid-readmore:focus {
  border: none 0;
}
.nu_posts-grid a.nu_posts-grid-readmore:hover span, .nu_posts-grid a.nu_posts-grid-readmore:focus span {
  color: var(--wp--preset--color--black-3);
}
.nu_posts-grid a.nu_posts-grid-readmore:hover .moretext, .nu_posts-grid a.nu_posts-grid-readmore:focus .moretext {
  border-bottom: 2px solid currentColor;
}

.nu_posts-grid .nu__grid.cols-1 > ul {
  max-width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}
.nu_posts-grid .nu__grid.cols-2 > ul {
  max-width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.nu_posts-grid .nu__grid.cols-3 > ul {
  max-width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.nu_posts-grid .nu__grid.cols-4 > ul {
  max-width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.nu_posts-grid .nu__grid.cols-5 > ul {
  max-width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
}
.nu_posts-grid .nu__grid.cols-6 > ul {
  max-width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(6, 1fr);
}
.nu_posts-grid .nu__grid.cols-7 > ul {
  max-width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(7, 1fr);
}
@media (max-width: 1620px) {
  .nu_posts-grid .nu__grid.cols-6 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-7 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1280px) {
  .nu_posts-grid .nu__grid.cols-5 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-6 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-7 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1024px) {
  .nu_posts-grid .nu__grid.cols-4 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-5 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-6 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-7 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 780px) {
  .nu_posts-grid .nu__grid.cols-3 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-4 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-5 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-6 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-7 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .nu_posts-grid .nu__grid.cols-2 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-3 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-4 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-5 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-6 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .nu_posts-grid .nu__grid.cols-7 > ul {
    max-width: 100%;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.nu_posts-grid .grid-item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}
.nu_posts-grid .grid-item figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.nu_posts-grid .grid-item img {
  width: 100%;
  min-height: 100%;
}
.nu_posts-grid .grid-item.has-very-wide-cover-image img, .nu_posts-grid .grid-item.has-wide-cover-image img, .nu_posts-grid .grid-item.has-tall-cover-image img, .nu_posts-grid .grid-item.has-very-tall-cover-image img, .nu_posts-grid .grid-item.has-square-cover-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.nu_posts-grid .grid-item.has-square-cover-image figure {
  position: relative;
}
.nu_posts-grid .grid-item.has-square-cover-image figure:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.nu_posts-grid .grid-item.has-wide-cover-image figure {
  position: relative;
}
.nu_posts-grid .grid-item.has-wide-cover-image figure:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
.nu_posts-grid .grid-item.has-very-wide-cover-image figure {
  position: relative;
}
.nu_posts-grid .grid-item.has-very-wide-cover-image figure:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.nu_posts-grid .grid-item.has-tall-cover-image figure {
  position: relative;
}
.nu_posts-grid .grid-item.has-tall-cover-image figure:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 133.3333333333%;
}
.nu_posts-grid .grid-item.has-very-tall-cover-image figure {
  position: relative;
}
.nu_posts-grid .grid-item.has-very-tall-cover-image figure:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 177.7777777778%;
}
@media screen and (min-width: 781px) {
  .nu_posts-grid .grid-item.has-layout-horizontal > .contains-clickable-area, .nu_posts-grid .grid-item.has-layout-horizontal {
    flex-flow: row nowrap;
  }
  .nu_posts-grid .grid-item.has-layout-horizontal > .contains-clickable-area > figure, .nu_posts-grid .grid-item.has-layout-horizontal > figure {
    flex: 1 0 300px;
    max-width: 50%;
  }
  .nu_posts-grid .grid-item.has-layout-horizontal > .contains-clickable-area > .grid-item-content, .nu_posts-grid .grid-item.has-layout-horizontal > .grid-item-content {
    flex: 1 1 auto;
  }
}
.nu_posts-grid .grid-item:hover, .nu_posts-grid .grid-item:focus {
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.nu_posts-grid .grid-item > a.contains-clickable-area {
  border: none 0;
}
.nu_posts-grid .grid-item > a.contains-clickable-area .post-title span {
  position: relative;
  padding-bottom: 2px;
}
.nu_posts-grid .grid-item > a.contains-clickable-area .post-title span:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 2px solid currentColor;
  bottom: -2px;
  transition: all 0.1s ease-in-out;
  left: 0;
  right: auto;
}
.nu_posts-grid .grid-item > a.contains-clickable-area:hover, .nu_posts-grid .grid-item > a.contains-clickable-area:focus {
  border: none 0;
}
.nu_posts-grid .grid-item > a.contains-clickable-area:hover .post-title span:before, .nu_posts-grid .grid-item > a.contains-clickable-area:focus .post-title span:before {
  width: 100%;
}
.nu_posts-grid .grid-item > a.contains-clickable-area:hover img, .nu_posts-grid .grid-item > a.contains-clickable-area:focus img {
  transform: scale(1.2);
}
.nu_posts-grid .grid-item > a.contains-clickable-area:hover .grid-item-content, .nu_posts-grid .grid-item > a.contains-clickable-area:focus .grid-item-content {
  background-color: var(--wp--preset--color--white-2);
}
.nu_posts-grid .grid-item > * {
  margin-left: 0;
  margin-right: 0;
}
.nu_posts-grid .grid-item > *:first-child {
  margin-top: 0;
}
.nu_posts-grid .grid-item > *:last-child {
  margin-bottom: 0;
}

/* 

*/
.nu_posts-grid .nu__grid .grid-item.nu_people .nu_posts-grid-readmore {
  display: block;
  margin: 64px 0 0 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_people .person-excerpt p {
  margin: 8px 0 0 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_people .moretext:after {
  display: none;
}

/* 

	i.e.,

	.has-24-32-font-size

*/
.nu_posts-grid .nu__grid .grid-item.nu_events > a.contains-clickable-area {
  padding: 0;
  position: relative;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a.contains-clickable-area:after {
  content: "\e5cc";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a.contains-clickable-area:after {
  position: absolute;
  bottom: 16px;
  right: 16px;
  line-height: 1;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a.contains-clickable-area:hover, .nu_posts-grid .nu__grid .grid-item.nu_events > a.contains-clickable-area:active {
  background-color: var(--wp--preset--color--white-2);
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a.contains-clickable-area .grid-item-content {
  justify-content: center;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .is-post-type-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 8px 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .is-post-type-label:before {
  content: "";
  display: inline-block;
  border: 1px solid var(--wp--preset--color--black-1);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 16px 0 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime span {
  letter-spacing: 0;
  font-weight: normal;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-times {
  position: relative;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-times:before {
  content: "\e8b5";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-dates {
  margin-top: 16px;
  position: relative;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-dates:before {
  content: "\e878";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-times,
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-dates {
  margin: 8px 0 0 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-times:first-child,
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-dates:first-child {
  margin: 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-times:before,
.nu_posts-grid .nu__grid .grid-item.nu_events .nu__datetime .nu__datetime-dates:before {
  vertical-align: text-bottom;
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
  line-height: 1;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a {
  border: none 0;
  display: flex;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a .post-title {
  margin: 16px 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a .post-title span {
  border-bottom: 2px solid transparent;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a:hover, .nu_posts-grid .nu__grid .grid-item.nu_events > a:focus {
  border: none 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a:hover .post-title span, .nu_posts-grid .nu__grid .grid-item.nu_events > a:focus .post-title span {
  border-bottom: 2px solid currentColor;
}
.nu_posts-grid .nu__grid .grid-item.nu_events > a:hover img, .nu_posts-grid .nu__grid .grid-item.nu_events > a:focus img {
  transform: scale(1.2);
}

/* 

*/
.nu_posts-grid .nu__grid .grid-item.nu_news .is-the-publication-date {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime span {
  letter-spacing: 0;
  font-weight: normal;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-times {
  position: relative;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-times:before {
  content: "\e8b5";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-dates {
  margin-top: 16px;
  position: relative;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-dates:before {
  content: "\e878";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-times,
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-dates {
  margin: 8px 0 0 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-times:first-child,
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-dates:first-child {
  margin: 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-times:before,
.nu_posts-grid .nu__grid .grid-item.nu_news .nu__datetime .nu__datetime-dates:before {
  vertical-align: text-bottom;
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
  line-height: 1;
}
.nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area {
  background-color: var(--wp--preset--color--white-2);
  border: none 0;
  display: flex;
}
.nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area .post-title {
  margin-top: 16px;
}
.nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area .post-title span {
  border-bottom: 2px solid transparent;
}
.nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area:hover, .nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area:focus {
  border: none 0;
}
.nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area:hover .post-title span, .nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area:focus .post-title span {
  border-bottom: 2px solid currentColor;
}
.nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area:hover img, .nu_posts-grid .nu__grid .grid-item.nu_news > a.contains-clickable-area:focus img {
  transform: scale(1.2);
}
.nu_posts-grid .nu__grid .grid-item.nu_news .grid-item-content {
  padding: 16px;
  padding: 32px;
  justify-content: center;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .grid-item-content .is-the-publication-date {
  justify-content: flex-end;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .grid-item-content .is-the-publication-publisher {
  font-style: italic;
}
.nu_posts-grid .nu__grid .grid-item.nu_news .grid-item-content > :first-child {
  margin-top: 0;
}

/* 

*/
.nu_posts-grid .nu__grid .grid-item.page > a {
  border: none 0;
}
.nu_posts-grid .nu__grid .grid-item.page > a .post-title span {
  border-bottom: 2px solid transparent;
}
.nu_posts-grid .nu__grid .grid-item.page > a figure {
  overflow: hidden;
}
.nu_posts-grid .nu__grid .grid-item.page > a figure img {
  transform: scale(1);
}
.nu_posts-grid .nu__grid .grid-item.page > a:hover, .nu_posts-grid .nu__grid .grid-item.page > a:focus, .nu_posts-grid .nu__grid .grid-item.page > a:active {
  border: none 0;
}
.nu_posts-grid .nu__grid .grid-item.page > a:hover .post-title span, .nu_posts-grid .nu__grid .grid-item.page > a:focus .post-title span, .nu_posts-grid .nu__grid .grid-item.page > a:active .post-title span {
  border-bottom: 2px solid currentColor;
}
.nu_posts-grid .nu__grid .grid-item.page > a:hover img, .nu_posts-grid .nu__grid .grid-item.page > a:focus img, .nu_posts-grid .nu__grid .grid-item.page > a:active img {
  transform: scale(1.2);
}

/* 

*/
.nu_posts-grid .nu__grid.cols-1 .grid-item.nu_initiatives {
  border: none 0;
  border-bottom: 1px solid var(--wp--preset--color--black-1);
  padding: 16px 0;
  margin: 64px 0 0 0;
}
.nu_posts-grid .nu__grid.cols-1 .grid-item.nu_initiatives .grid-item-content {
  padding: 0;
}
.nu_posts-grid .nu__grid.cols-1 .grid-item.nu_initiatives:first-child {
  margin: 0;
}
.nu_posts-grid .nu__grid.cols-1 .grid-item.nu_initiatives .featured-tags {
  font-weight: normal;
}

@media (min-width: 1024px) {
  .nu_posts-grid .nu_projects.grid-item.has-layout-horizontal > .contains-clickable-area > figure,
.nu_posts-grid .nu_projects.grid-item.has-layout-horizontal > figure {
    flex: 1 0 66%;
    max-width: none;
    max-height: 320px;
  }
  .nu_posts-grid .nu_projects.grid-item.has-layout-horizontal > .contains-clickable-area .grid-item-content,
.nu_posts-grid .nu_projects.grid-item.has-layout-horizontal .grid-item-content {
    justify-content: center;
  }
}

li.grid-item.broken:only-child {
  flex: 1 0 100% !important;
  width: 100% !important;
}
li.grid-item.broken:only-child p {
  text-align: center;
  padding: 16px;
  font-style: italic;
}
