@import './blocks';
@import './patterns';
@import './reusables';
@import './content-types';

.has-background {

	padding: $margin_2x;

	&.wp-block-group {
		padding: $base-margin;
	}
	&.wp-block-button__link {
		padding: $half-margin $base-margin;
	}
	
	@media screen and ( max-width: 781px ){
		
		padding: $base-margin;
		
		&.wp-block-button__link {
			padding: $half-margin $base-margin;
		}
	}
	
	&.wp-block-separator {
		padding: 0;
	}
}