/* 
	ACF Nav Menu Block styling
	see php function nu__getMenu()
*/
//?
.nu__navmenu {

	> .navlinks {

		> .menu {
			flex-flow: column nowrap;
			padding: 0;

		}

		.menu-item {
			margin: 5px 0 0 0;
			&:first-child {
				margin: 0;
			}
		}
	}
}
	



// ? disable clicking links in the editor
body.wp-admin {
	.nu__navmenu {
		a {
			pointer-events: none;
		}
	}
}